body {
    background-color: #24252A;
    max-width: 1900px;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 10%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 10%;
}

li,
a,
button {
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: pink;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.nav_links a:hover {
    color: pink;
}

.card {
    position: relative;
}

.absolute {
    position: absolute;
    width: 550px;
}

.card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FAF0E6;
    padding: 11px 35px;
}

.card-body p {
    height: 75px;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

.card-body h3 {
    color: black;
    margin: 5px 0 5px 0;
    border-bottom: 1px solid;
    height: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.card img {
    position: relative;
    width: 500px;
    height: 445px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    margin-top: 50px;
}

nav li .active {
    color: pink;
}

.section-header {
    color: white;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

.about-me {
    margin-top: 65px;
}

.about-me p {
    color: white;
    line-height: 27px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.about-me span {
    color: pink;
    font-size: 20px;
    margin: 15px 0;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
}

.about-me h3 {
    color: white;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}

.about-me img {
    width: 600px;
    margin-right: 90px;
}

.about-me .row {
    display: flex;
}

.about-me .about-me-row {
    display: flex;
}

.about-me .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.contact-box {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.right {
    padding: 25px 40px;
}

.right input,
textarea,
button {
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: pink;
}

.left img {
    width: 100%;
    height: 100%;
}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 150px;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: pink;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: pink;
}

.field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}

footer .container {
    margin-left: 38px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: pink;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }
    .left {
        height: 200px;
    }
}